@model LabWebMvc.MVC.Views.Shared.Components.ResumoUsuarioViewModel

<div class="sb-sidenav-footer">
    <div class="small">ReCaptcha: @Model.TotalReCaptcha</div>
    <div class="small">CNPJ: @Model.CNPJ</div>
    <div class="small">@Model.Nome</div>
</div>
