@{
    Layout = "_Layout";
}
<head>
    <style>
        .fonteError {
            font-size: 1.1em;
            color: darkgreen;
        }
    </style>
</head>
<script>
    console.log("Error500");
</script>
<div class="row fonteError">
    <div class="col-md-10 ml-3">
        <p><b>Erro 500:</b></p>
        <p>Requisição não processada pelo servidor.</p>
        <p>Houve uma dificuldade do servidor compreender o modelo de requisição, em virtude de alguma configuração ruim ou incompatibilidade do pedido enviado.</p>
        <p>Talvez seja importante comunicar ao suporte deste sistema.</p>
    </div>
</div>