@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, MyAssembly
@using BLL
@using static BLL.UtilBLL
<div class="groupButtton">
    @if (!PartialFiltro.Esconde)
    {
        <button class="myButton">
            <a asp-action=@PartialFiltro.ActionButton asp-controller=@PartialFiltro.ControllerButton><i class="fa-sharp fa-solid fa-square-plus"></i> Incluir Pacientes</a>
        </button>
    }
    @if (PartialFiltro.Esconde)
    {
        <button class="myButton">
            <a asp-action=@PartialFiltro.Action asp-controller=@PartialFiltro.Controller><i class="fa-sharp fa-solid fa-table-list"></i> Consultar Pacientes</a>
        </button>
    }
</div>
@*    <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>*@
