@using LabWebMvc.MVC.Interfaces
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="fontetela">Sistema de Análises Clínicas e Patológicas com módulo especial para Citologia</p>
    <p class="fontetela">Esta é uma versão em desenvolvimento iniciada em 29/09/2019, atualizada em 21/06/2024</p>
    <p class="fontetela">Contato: (21) 9.9262.4215 - Email: rguilemond@gmail.com</p>
</div>


