@{
   Layout = "_Layout";
}
<div>
   <p>Você está utilizando o que há de mais moderno em tecnologia para Sistemas Web.</p>
   <p>
      Nossa arquitetura física e lógica é totalmente integrada à tecnologia de linguagens,
      padrões e frameworks licenciados pela Microsoft.
   </p>
   <p>
      Podemos utilizar recursos com base em dados cognitivos, em Inteligência Artificial (<b>IA</b>),
      nas diversas formas de pesquisas de dados, interfaceamento digital, laudos dinâmicos e
      amigáveis, abstração de laudos externos, faturamento em runtime.
   </p>
   <p>
      Nenhum outro sistema, desta natureza, possui uma arquitetura de planos de exames e
      laudos técnicos que são construídos e emitidos, dinamicamente, <u>sem</u> a intervenção direta de
      usuários e técnicos! Este é um sistema totalmente voltado para a dinâmica da <b>IA</b>.
   </p>
   <p>
      Este Sistema pode ser utilizado pela maioria dos navegadores, pois seu "desktop work web"
      foi idealizado e preparado para permanecer íntegro e funcional, mantendo todas as suas
      características visuais e operacionais nos mais modernos navegadores disponíveis da atualidade.
   </p>
@*   <p>
      A segurança utilizada por este Sistema segue o padrão internacional <b>ISO 27001 e 27002</b>.
   </p>
   <p>
      O desenvolvedor possui a <b>Certificação MCSD (Web Applications)</b> padrão globalmente
      reconhecido pela excelência do desenvolvedor, obtido legalmente através de Microsoft Corporation.
   </p>*@
   <p>
      Obrigado pela confiança em nossos produtos e serviços, em Inteligência Artificial, na Área de Saúde.
   </p>
</div>