@{
   Layout = "_Layout";
}
@{
   ViewData["Par1"] = "Nós recomendamos, veementemente, que você leia esta Política de " +
      "Privacidade em sua integridade para garantir que você esteja plenamente informado de " +
      "nossas responsabilidades com sua privacidade, de acordo com a utilização de nossos produtos " +
      "e serviços.";
   ViewData["Par2"] = "Esta Política de Privacidade aplica-se a todos os produtos, serviços e sites " +
      "oferecidos pela MRJ Sistemas Embarcados e Integrados com nome de fantasia X-WEB7, " +
      "suas respectivas empresas subsidiárias ou afiliadas.";
   ViewData["Par3"] = "Na X-WEB7, sua privacidade é uma prioridade! Esta Política de Privacidade define como " +
      "a X-WEB7 e seu grupo de empresas (“nós”, “nosso”, “nos” ou “conosco”) coletamos e " +
      "usamos informações de clientes e outros indivíduos que acessam ou usam nossos aplicativos e websites, " +
      "incluindo a aplicação LabWebApi, intitulada LabWebApi Sistema de Análises Clínicas e Patológicas " +
      "com módulo integrado de Colpocitologia, Citologia e Interfaceamento com Equipamentos de Hematologia e " +
      "Bioquímica, bem como nossos aplicativos móveis, nosso cliente web ou cliente professional, e/ou " +
      "quaisquer de nossos outros sites, produtos, ou serviços que referenciem esta Política de Privacidade " +
      "(nossos “Serviços”). Ao usar nossos Serviços, você compreende que vamos coletar e usar suas " +
      "informações conforme descrito nesta Política de Privacidade (coletivamente, “você”, “seu” ou “sua”).";
}
<div>
   <p><b>@ViewData["Par1"]</b></p>
   <p>@ViewData["Par2"]</p>
   <p>@ViewData["Par3"]</p>
   <p>
      <b>Se você ou sua organização possui um contrato individual conosco</b>, esse contrato pode ter termos
      de privacidade que também se aplicam à informação que você nos fornece sob o contrato.
      Por favor, revise os termos do(s) contrato(s) pois eles podem ser diferentes ou mais restritivos
      do que os termos previstos desta Política de Privacidade.<br />
      <br />
      Nesta Política de Privacidade estaremos nos referindo ao termo <b>"aplicação"</b> como sendo
      qualquer produto ou serviço realizado por meio de software e hardware. Isto se aplica ao fato de que
      o <b>LabWebApi</b> é um sistema integrado que pode conter também módulos embarcados em equipamentos
      ou estar integrado a outros produtos e serviços associados.<br />
      <br />
      <b>Esta Política de Privacidade não se aplica</b> a quaisquer websites de terceiros e aplicativos
      que você possa usar, incluindo qualquer um que esteja referenciado em nossos Serviços.
      Você deve consultar ou revisar os termos e políticas de privacidade para websites e aplicativos
      de terceiros antes de clicar em quaisquer links ou utilizá-los por meio de nossos produtos e
      serviços.<br />
      <br />
      <b>
         Para o produtos e serviços da X-WEB7, ao que se refere esta Política de Privacidade,
         especificamente, concedido ao Sistema Laboratorial em Análises Clínicas e Patológicas intitulado LabWebApi
      </b>, que auxilia usuários a cadastrar dados pessoais de outros usuários e seus clientes, sejam eles,
      pessoas físicas e jurídicas, criar e controlar serviços em exames laboratoriais de análises
      clínicas e patológicas, colpocitologia, citologia preventiva, e todo e quaisquer exames em
      análises clínicas, laboratoriais, sejam estes exames específicos, rotineiros, exclusivos,
      de testes, com ou sem laudos técnicos auxiliares, embarcados e/ou integrados a outros serviços
      e produtos de sistemas, embarcados e/ou integrados a outros produtos físicos, bem como equipamentos,
      todos relativos aos serviços e produtos utilizados na área de saúde em toda a sua abrangência.
      Como parte dos nossos Serviços, os usuários nos solicitam que coletemos e registremos informações
      que auxiliam as partes a produzir resultados em exames clínicos de testes laboratoriais,
      auxiliando em diagnósticos, validando cálculos, entretanto, nem este e nem outros produtos e
      serviços que disponibilizamos são capazes de resultar em diagnósticos, pois os diagnósticos só podem
      ser dados por médicos e profissionais qualificados e especializados em seus diversos serviços em saúde.
      Nossos produtos e serviços apenas auxiliam a criar e organizar resultados que são proferidos pelos
      diversos equipamentos especializados para estes fins, sobre consultas e testes. Esta informação se
      aplica, e não exclui, àquelas pessoas que estão envolvidas nas transações e nos dispositivos que
      elas possam vir a utilizar de forma embarcada e/ou integrada em nossos produtos e serviços, sejam
      no uso específico ou compartilhado de nossa aplicação intitulada LabWebApi.<br />
      <br />
      <b>Importante saber que</b>, quaisquer outras políticas de privacidade com textos iguais ou semelhantes a
      nossa política de privacidade reflete, meramente, ao fato de que, grande parte deste conteúdo, ser
      também objeto comum de entendimento, acessos e restrições pautadas em outras diversas políticas de
      privacidades relacionadas a produtos e serviços de softwares e hardwares. Entretanto, observa-se
      termos e diretivas consernentes apenas ao produto ou serviço aqui produzido e oferecido publicamente.
   </p>
   <p class="_titulo">INFORMAÇÕES QUE COLETAMOS E COMO AS UTILIZAMOS</p>
   <p class="_subtitulo">Nós podemos coletar os seguintes tipos de informações:</p>
   <p class="_subtitulo">INFORMAÇÕES QUE VOCÊ FORNECE</p>
   <p>
      <b>Quando você se inscreve em uma Conta da Aplicação LabWebApi</b>, nós solicitamos suas informações
      pessoais. Podemos combinar as informações enviadas da sua conta com informações de outros serviços
      do LabWebApi ou de terceiros para proporcionar uma experiência melhor e aprimorar a qualidade dos
      nossos serviços. Para alguns serviços, o usuário pode desativar a combinação dessas informações.
      Caso esteja usando os serviços do LabWebApi em conjunto com outros aplicativos desenvolvidos pela
      X-WEB7, que oferece tal serviço em conjunto com ou em nome do seu administrador de domínio.
      O administrador terá acesso às informações da sua conta, incluindo seu e-mail. Consulte a Política
      de Privacidade do administrador de domínio para obter mais informações.
   </p>
   <p class="_subtitulo">COOKIES</p>
   <p>
      <b>Quando você acessa as páginas ou recursos do LabWebApi</b>, nós podemos enviar um ou mais
      cookies para o seu computador ou outro dispositivo. Utilizamos os cookies para melhorar a
      qualidade de nossos serviços, armazenando as preferências dos usuários e melhorando os
      resultados dos serviços, testes e pesquisas. O LabWebApi também utiliza os cookies em
      seus serviços de publicidade para ajudar anunciantes e editores a veicular e gerenciar
      anúncios na web e nos serviços do LabWebapi.Inicialmente, a maioria dos navegadores é
      configurada para aceitar cookies, mas você pode redefinir o seu navegador para que
      recuse todos os cookies ou indique quando um cookie está sendo enviado. No entanto, enfatizamos a
      necessidade de utilizar os cookies na aplicação LabWebApi, para que a mesma possa melhor gerenciar
      suas atividades referentes aos propósitos já mencionados sobre produtos e serviços oferecidos por
      esta aplicação. Ainda assim se preferir bloquear ou não utilizar nossos cookies, saiba que não nos
      responsabilizamos pelos resultados aos quais a necessidade de cookies podem estar previstas como fator
      de autenticidade e qualidade das informações prestadas por esta aplicação. Portanto, alguns recursos e
      serviços do LabWebApi podem não funcionar adequadamente se os cookies estiverem desativados.
   </p>
   <p class="_subtitulo">INFORMAÇÕES SOBRE REGISTRO</p>
   <p>
      <b>Quando você acessa os serviços do LabWebApi por meio de um navegador</b>, aplicativo ou através
      de outro cliente, nossos servidores e gerenciadores, automaticamente gravam determinadas
      informações. Esses registros do servidor e dos gerenciadores podem incluir informações suas,
      como a solicitação na web, a interação com um serviço, o endereço de protocolo de internet, o
      tipo e o idioma do navegador, a data e a hora da sua solicitação e um ou mais cookies que
      possam identificar exclusivamente o seu navegador ou a sua conta.
   </p>
   <p class="_subtitulo">COMUNICAÇÃO COM O USUÁRIO</p>
   <p>
      <b>Quando você envia um Email ou quaisquer outros tipos de dados e mensagens</b> para se
      comunicar com nossa aplicação, podemos reter esses dados e mensagens para processar suas
      consultas, responder às suas solicitações e melhorar nossos serviços. Quando você envia
      e/ou recebe mensagens de SMS ou realiza troca de dados entre sistemas integrados ou
      coligados à nossa aplicação LabWebApi, e a partir de um de nossos serviços, podemos coletar
      e armazenar as informações associadas a esses dados ou mensagens, o CNPJ, o CPF ou outra
      identificação referente a pessoa física ou jurídica, o número do telefone, o endereço, a operadora e as
      configurações relativas ao IP, bem como dados da rede local, com ou sem fio, associada ao número do
      telefone, o conteúdo dos dados e das mensagens e a data e hora da transação. Poderemos usar o endereço
      de seu Email para enviar comunicados sobre novos serviços, promoções ou alterações de seu interesse,
      entretanto, não enviaremos de forma alguma, sob qualquer pretexto, seus dados pessoais e dados de sua
      empresa a terceiros.
   </p>
   <p class="_subtitulo">SERVIÇOS AFILIADOS DO <b>LabWebApi</b> EM OUTROS SITES</p>
   <p>
      Podemos oferecer alguns de nossos produtos e serviços em outros sites ou por meio deles. As informações
      pessoais que você fornece a esses sites podem ser enviadas ao LabWebApi a fim de fornecer o serviço.
      Processamos essas informações de acordo com esta Política de Privacidade.
   </p>
   <p class="_subtitulo">APLICATIVOS DE TERCEIROS, ASSOCIADOS, EMBARCADOS E/OU INTEGRADOS</p>
   <p>
      <b>A X-WEB7 e/ou através da aplicação LabWebApi</b>, podem disponibilizar aplicativos de terceiros,
      como plugins ou extensões, através de seus serviços e produtos. As informações coletadas pelo LabWebApi,
      quando você ativa um aplicativo de terceiros, são processadas de acordo com esta Política de Privacidade.
      Todavia, as informações coletadas pelos serviços e produtos de terceiros, fornecedor do aplicativo, são
      regidas pelas políticas de privacidade do próprio fornecedor. Não nos responsabilizamos pelo descumprimento
      de quaisquer dos termos oriundos da política de privacidade originada de terceiros. Entendemos que cada
      produto ou serviço possuem sua própria política de privacidade e esta, deve ser respeitada por seus
      usuários diretos.
   </p>
   <p class="_subtitulo">DADOS DE LOCALIZAÇÃO E GPS</p>
   <p>
      <b>A aplicação LabWebApi pode oferecer serviços e produtos com base em localidades</b> e caso você
      use esses serviços, o LabWebApi pode coletar ou receber informações sobre sua localização em tempo real,
      através de sinais de GPS enviados por smartphones, tablets ou outros dispositivos móveis, ou obter seu
      local aproximado através de um ID do dispositivo móvel.
   </p>
   <p class="_subtitulo">NÚMERO OU IDENTIFICAÇÃO DE APLICATIVO EXCLUSIVO</p>
   <p>
      <b>Os serviços ou acesso a opções, como a Barra de Ferramentas e Menu do LabWebApi</b>, incluem um número
      de aplicativo exclusivo que não é associado à sua conta ou a você. Este número e estas informações sobre
      a sua instalação, tipo de sistema operacional, número de versão, podem ser enviados ao LabWebApi quando
      você instala ou desinstala tal serviço, ou quando este serviço entra em contato com nossos servidores ou
      gerenciadores, para solicitar novos recursos ou atualizações automáticas da nossa aplicação.
   </p>
   <p class="_subtitulo">INFORMAÇÕES RELATIVAS A OUTROS SITES</p>
   <p>
      <b>
         Esta Política de Privacidade aplica-se apenas aos produtos e serviços do X-WEB7, mencionado aqui
         com exclusividade para o produto e serviço <u>LabWebApi</u>
      </b>. Não controlamos os sites exibidos como
      resultados de pesquisa, sites que incluem aplicativos, produtos ou serviços do LabWebApi ou links dos
      nossos diversos serviços relacionados. Sites externos podem enviar seus próprios cookies ou outros
      arquivos para o seu computador, coletar dados ou solicitar informações pessoais, aos quais não temos
      acesso, controle ou gerência. Além do mencionado acima, nós podemos utilizar as informações que
      coletamos para: promover produtos e serviços, fornecer, manter, proteger e melhorar nossos produtos e
      serviços, incluindo todo e quaisquer serviços de publicidade, utilizando a nossa Marca, bem como as Marcas
      que utilizam nossos produtos e serviços, sem prévia autorização, uma vez que ao adquirir nossos produtos e
      serviços, consta contrato individual com estas regras estabelecidas. Também podemos desenvolver novos
      serviços, e proteger os direitos ou as propriedades do LabWebApi ou dos nossos usuários. Se decidirmos
      utilizar essas informações para alguma outra finalidade diferente das informações citadas aqui nesta
      política de privacidade ou em contratos individuais, pediremos o seu consentimento antes.
   </p>
   <p class="_subtitulo">SOBRE O COMPARTILHAMENTO DE INFORMAÇÕES</p>
   <p>
      A aplicação LabWebApi somente compartilha informações pessoais com outras empresas ou indivíduos
      externos nas seguintes circunstâncias limitadas:<br />
      – Quando temos o seu consentimento, incluindo aqueles já descritos por esta política de privacidade.
      Solicitamos a autorização para o compartilhamento de todas as informações pessoais confidenciais.<br />
      – Fornecemos essas informações para nossas subsidiárias, empresas afiliadas ou coligadas ou outras
      organizações ou pessoas confiáveis com a finalidade de processar informações pessoais em nosso nome.
      Exigimos que essas partes aceitem processar tais informações de acordo com as nossas instruções e
      em conformidade com esta Política de Privacidade, e qualquer outra medida adequada de confidencialidade
      e segurança.<br />
      – Acreditamos que o acesso, o uso, a preservação ou a divulgação dessas informações será razoavelmente
      necessário para:<br />
      (a) satisfazer qualquer lei, regulamentação, processo judicial ou solicitação governamental aplicável;<br />
      (b) fazer cumprir os Termos de Serviços aplicáveis, incluindo a investigação de possíveis violações do mesmo;<br />
      (c) detectar, impedir ou abordar de alguma outra forma questões técnicas, de fraude ou de segurança;<br />
      (d) proteger os direitos, as propriedades ou a segurança do LabWebApi, seus usuários ou o público,
      conforme solicitado ou permitido por lei.<br />
      – Se o LabWebApi for envolvido em uma fusão, aquisição ou alguma outra forma de venda de alguns ou
      todos os seus ativos, garantiremos a confidencialidade de todas as informações pessoais envolvidas
      nessas transações e enviaremos uma notificação antes que as informações pessoais sejam transferidas e
      submetidasa uma política de privacidade diferente.
   </p>
   <p class="_subtitulo">SOBRE A SEGURANÇA DAS INFORMAÇÕES</p>
   <p>
      Tomamos medidas de segurança adequadas para nos proteger contra acesso, alteração, divulgação ou
      destruição não autorizada dos dados autenticados em nossa aplicação. Essas medidas incluem análises
      internas de nossas práticas de coleta, armazenamento e processamento de dados e medidas de segurança,
      incluindo criptografia e medidas de segurança física apropriadas para nos proteger contra o acesso
      não autorizado a sistemas em que armazenamos os dados pessoais. Limitamos o acesso às informações
      pessoais aos funcionários, contratantes e agentes do LabWebApi que precisam ter conhecimento dessas
      informações para processá-las em nosso Nome. Essas pessoas estão comprometidas com as obrigações de
      confidencialidade e podem ser submetidas a punições, incluindo rescisão de contrato e processo
      criminal, caso não cumpram essas obrigações.
   </p>
   <p class="_subtitulo">ACESSO E ATUALIZAÇÃO DAS INFORMAÇÕES PESSOAIS</p>
   <p>
      Quando você usa os serviços do LabWebApi, nos esforçamos para que você tenha acesso às
      suas informações pessoais, seja para corrigir os dados se estiverem incorretos, seja para
      excluir esses dados quando você solicitar caso a retenção dos dados não seja exigida por lei ou
      por fins comerciais legítimos. Pedimos que usuários individuais identifiquem a si mesmos e as
      informações que devem ser acessadas, corrigidas ou removidas antes de processar essas solicitações.
      Podemos recusar o processamento das solicitações que sejam exageradamente repetitivas ou sistemáticas,
      que exijam um esforço técnico desproporcional, prejudiquem a privacidade de outros, que sejam
      extremamente impraticáveis como solicitações referentes a informações localizadas em fitas de backup,
      ou para as quais o acesso não seja exigido de outra forma. De qualquer maneira, quando fornecemos
      acesso e correção de informações, esse serviço é gratuito, a não ser que a solicitação exija um
      esforço desproporcional. Por causa da forma como mantemos certos serviços, após você excluir as
      suas informações, poderá levar um certo tempo até que as cópias residuais sejam excluídas dos
      nossos servidores ativos, fazendo com que elas permaneçam em nossos sistemas de backup.
      Para obter mais informações, visite as Centrais de Ajuda dos serviços.
   </p>
   <p class="_subtitulo">EXECUÇÃO</p>
   <p>
      O LabWebApi respeita os Princípios de Aviso, Escolha, Transferência de dados pessoais,
      Segurança, Integridade dos dados. O LabWebApi nalisa regularmente a sua conformidade com esta
      Política de Privacidade. Quando recebemos reclamações formais por escrito, é política do LabWebApi
      entrar em contato diretamente com o usuário para esclarecer as suas dúvidas. Colaboraremos com
      os órgãos regulamentares adequados, inclusive com os órgãos locais de proteção de dados, para
      solucionar qualquer reclamação sobre a transferência de dados pessoais que não possa ser resolvida
      entre o LabWebApi e a pessoa envolvida.
   </p>
   <p class="_subtitulo">ALTERAÇÕES NESTA POLÍTICA DE PRIVACIDADE</p>
   <p>
      <b>Esta Política de Privacidade pode ser alterada periodicamente</b>. Esta Política de Privacidade
      não reduzirá os seus direitos sem o seu consentimento explícito. Publicaremos todas as
      alterações da Política de Privacidade nesta página e, se as alterações forem significativas,
      colocaremos um aviso com mais destaque, incluindo, para alguns serviços, notificação por Email sobre
      as alterações da Política de Privacidade. Também manteremos as versões anteriores desta
      Política de Privacidade arquivadas para você visualizá-las.
   </p>
   <p>
      Obrigado por ler e se atualizar sobre esta política de privacidade, e esperamos que o <b>LAbWebApi</b>
      seja um produto de grande utilidade para Você.
   </p>
</div>
