@{
    Layout = "_Layout";
}
<style>
    .fonteRelease {
        font-size: 1.1em;
        color: darkgreen;
    }
</style>
<div class="row fonteRelease">
    <div class="col-md-10">
        @foreach (var str in ViewBag.Mensagem)
        {
            <p>@Html.Raw(str)</p>
        }
        <p></p>
        <p>Muito obrigado por utilizar nossos produtos e serviços!</p>

    </div>
</div>
